body {
    background-color: rgb(107, 128, 247);
}

.first {
    width: auto;
    height: 270px;
    background-color: rgb(169, 207, 250);
    margin: 10px;
}

.profilehead {
    margin: 10px;
}

.profileDp {
    float: left;
    width: 200px;
    height: 200px;
    background-color: rgb(184, 8, 17);
    margin: 10px;
}

element.style {
    width: 200px;
    height: 200px;
}

.profile_name {
    width: auto;
    height: 50px;
    float: left;
    margin: 20px
}