<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="static/signup/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" />

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="static/signup/css/style.css" />
</head>

<body>
    <div class="wrapper" style="background-image: url('static/signup/images/bg-registration-form-1.jpg')">
        <div class="inner">
            <div class="image-holder">
                <img src="static/signup/images/registration-form-1.jpg" alt="" />
            </div>
            <form action="/register" method="post">
                <h3>Registration Form</h3>
                <div class="form-group">
                    <input name="Fname" type="text" placeholder="First Name" class="form-control" />
                    <input name="Lname" type="text" placeholder="Last Name" class="form-control" />
                </div>
                <div class="form-wrapper">
                    <input name="Uname" type="text" placeholder="Username" class="form-control" />
                    <i class="zmdi zmdi-account"></i>
                </div>
                <div class="form-wrapper">
                    <input name="emailId" type="text" placeholder="Email Address" class="form-control" />
                    <i class="zmdi zmdi-email"></i>
                </div>
                <div class="form-wrapper">
                    <select name="gender" id="" class="form-control">
              <option value="" disabled selected>Gender</option>
              <option value="male">Male</option>
              <option value="femal">Female</option>
              <option value="other">Other</option>
            </select>
                    <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
                </div>
                <div class="form-wrapper">
                    <input name="password" type="password" placeholder="Password" class="form-control" />
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <div class="form-wrapper">
                    <input name="Rpassword" type="password" placeholder="Confirm Password" class="form-control" />
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <button>
            Register
            <i class="zmdi zmdi-arrow-right"></i>
          </button>
            </form>
        </div>
    </div>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>