<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.UName}}</title>
    <link rel="stylesheet" href="static/profile/profile.css" />
</head>

<body>
    <div class="first">
        <div style="width: 300px; height:50px; float:left; background:rgb(100, 236, 230); margin:50px">
            <h2>hii {{.FName}} {{.LName}} welcome !</h2><br>
            <a action="" method="post"> Edit bio.</a>
        </div>
        <div style="float: right;margin:20px;">
            <a href="/logout"><button style="background: rgb(67, 115, 247);">logout</button></a>
        </div>
    </div>
</body>

</html>